/* #pg { position: relative; height: 585px; background: #000; } */
#pg li { position: relative; list-style: none; width: 175px; height: 1170px; overflow: hidden; float: left; z-index: 2; opacity: .8; }
#pg li.active { opacity: 1; }
#pg li.selected { opacity: 1; z-index: 99; }
#pg li img {max-width:100% !important; max-height:100% !important; display:block; }
#pg li p { color: white; margin: 10px 0; font-size: 12px; }